<style>
    h1 {
        font-size: 40px;
        font-family: Roboto;
        font-weight: normal;
        text-align: center;
        }
    #banner {
        width: 100%;
        height: 360px:
        object-fit: cover;
        margin-bottom: 24px;
        }

    h2 {
        font-size: 30px;
        font-family: Roboto;
        font-weight: normal;
        text-align: center;
        }
    .bodytext {
        font-size: 20px;
        font-family: Roboto;
        font-weight: normal;
        text-align: center;
        }
    #container {
        width: 720px;
        margin: 0 auto;
        }
</style>
<img class="img-fluid" id="banner" src="/static/banner.jpg" alt="some random image" height="320">