<html lang="en">
<head>
    {% include "bootstrap.html" %}
</head>
<body>
    {% include "banner.html" %}
    {% include 'navbar.html' %}
    
    <div class="container">
       
        <h1 class="text-center mt-2 mb-4">Career Portal</h1>
        
        <div class="row">
            <div class="col-md-6">
                <p class="lead" style="text-align:justify;">
                    Our career website is designed to bridge the gap between talented professionals and exciting job opportunities. Built with a modern, user-friendly interface, the platform allows candidates to seamlessly browse, apply, and track job openings across multiple domains.
Employers can post detailed job listings with specific requirements and responsibilities, while applicants can showcase their skills, education, and experience through structured applications. With integrated resume uploads, LinkedIn links, and application tracking, the process is smooth, efficient, and transparent.
Our platform provides a space where you can explore opportunities, highlight your strengths, and connect with the right employers.
This website isn’t just a job board — it’s a complete career platform that empowers applicants and recruiters alike by simplifying recruitment and ensuring the best matches for both sides.
                </p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img src="static/logo.png" alt="people" style="height:320px;border-radius:8px;margin-top:15px;"> 
            </div>
        </div>
        <h2 class="text-center mt-2 mb-4">Open Positions</h2>
        <div>
            {% for job in jobs %}
                {% include 'jobitem.html' %}
            {% endfor %}
        </div>

        <div class="text-center">
            <a href="mailto:abdeshpande257@gmail.com?subject=Question%20about%20Job%20Openeings&body=Name%20%3A%0D%0A%0D%0AQuestion%20%3A" class="btn btn-primary btn-lg">Contact Us</a>
            
            {% include "footer.html"%}
            <p>Copyright 2025, Career Portal</p>
        </div>

    </div>
</body>
</html>