<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:16px;">
    <div class="col-9">
        <h4 style="margin-bottom:4px;">
            {{ job["title"] }}
        </h4>

        <div>
            Location: {{ job['location']}}
        </div>
                        
        {% if job['salary'] %}
            <div>
                <b>Salary: {{ job['salary']}}</b>
            </div>
        {% endif %}
    </div>
    <div class="col-3">
        <a href="/job/{{job["id"]}}" class="btn btn-outline-primary float-right align-middle" type="button">Apply</a>
    </div>

</div>